<!doctype html>
<html>
    <head>
        <meta name = "viewport" content = "width = device-width"/>
        <title> @ViewData["Title"]</title>
        <meta charset="utf-8"/>       
    </head>

<body class= "container">
    <nav class = "navbar navbar-ligth bg-ligth">
        <div> <label>Добро пожаловать!</label></div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <style>
        .container {
            padding-top:10px;
        }
        .validation-summary-errors {
            color: #f00;
        }
    </style>

</body>
 </html>
