@{
    ViewData["Title"] = "MakeReportPage";
}
<title>Подтверждение готовности</title>
<html>
    <body>
    <div>        
        <label>Подтвердите номер выполненной заявки:</label>
        <form method="post" action="~/Worker/SendReport">
            <label>Номер заявки:</label>
                <input type="number" name="id" /><br />
             <input type="submit" value="Готово" />
        </form>
    </div>
    </body>
</html>
