@{
    ViewData["Title"] = "MakeReportPage";
    Layout = "_Layout";
}
<title>Составление отчета</title>
<html>
    <body>
    <div>        
        <label>Отчетик)</label>
        <form method="post" action="~/Worker/SendReport">
             <input type="submit" value="Готово" />
        </form>
    </div>
    </body>
</html>
