@model List<Order>
@{
    ViewData["Title"] = "TakeOrderPage";
}
<title>Подтвердите номер заявки</title>
<html>
    <body>
        <div>
            <form method="post" action="~/Worker/TakeOrderByNumber">
                <label>Номер заявки</label>
                <input type="number" name="id" /><br />
                <input type="submit" value="Отправить" />
            </form>
        </div>
    </body>
    

</html>
