@{
    ViewData["Title"] = "GuestOrdersPage";
    Layout = "_Layout";
}
<html>
    <body>
        <h1> Мои заявки:</h1>
        <a href="~/Preparation/Feedback">Возле каждой готовой заявки должна выпадать кнопка "Оценить"</a>
    </body>
</html>