@{
    ViewData["Title"] = "PreparationPage";
    Layout = "_Layout";
}
<html>
    <body>
        <a href="~/Preparation/GuestOrders">Мои заявки</a>
        <form method="post" action="~/Preparation/PreparationOfOrder">
            <label>Имя</label><br />
            <input type="text" name="Name" /><br />    
            <input type="submit" value="Отправить" />
        </form>
</body>
</html>
