@using WebAppForDiplom.Models
@model List<Order>
@{
    ViewData["Title"] = "HomePage";
}
<html>    
    <body>
        <p>IsAuthenticated:@ViewBag.IsAuthenticated</p>  <p>Name:@ViewBag.Name</p>
        <a asp-controller="Account" asp-action="Logout">Log out</a>
    <div class= "panel panel-primary">
       @if ( User.IsInRole("Guest")) 
       {
            <a asp-controller="Guest" asp-action="Index">Оставить заявку</a>
       } 
       @if ( User.IsInRole("Boss")) 
       {
            <a asp-controller="Boss" asp-action="Index">Просмотреть список заявок</a>
       } 
       @if ( User.IsInRole("Worker")) 
       {
            <a asp-controller="Worker" asp-action="Index">Мои заявки</a>
       } 
       @if ( User.IsInRole("Administrator")) 
       {
            <a asp-controller="Preparation" asp-action="Index">Оставить заявку</a>
            <a asp-controller="Boss" asp-action="Index">Просмотреть список заявок</a>
            <a asp-controller="Worker" asp-action="Index">Мои заявки</a>
       }    
</div>
</body>
</html>

