@*
    ИТОГОВАЯ СТРАНИЦА С РЕЗУЛЬТАТАМИ
*@
@{
}
@{
    ViewData["Title"] = "ResultPage";
    Layout = "_Layout";
}
<html>
    <body>
    <label>ИТОГОВАЯ СТРАНИЦА С РЕЗУЛЬТАТАМИ</label>
    </body>
</html>
