@*
    СТРАНИЦА ГОТОВЫХ ОТЧЕТОВ(ВЫСТАВИТЬ ОЦЕНКИ)
*@
@{
}
@{
    ViewData["Title"] = "ReadyReportsPage";
    Layout = "_Layout";
}
<html>
    <body>
    <label>Страница готовых отчетов</label>
    </body>
</html>
